<p> DETALLE ESTUDIANTES</p>
<div class="container" *ngIf="estudianteDetalle">
  EDITAR
  <div>
        atributos:{{estudianteDetalle.$key}} <br>
        atributos:{{estudianteDetalle.nombres}}<br>
        atributos:{{estudianteDetalle.apellidos}}<br>
        atributos:{{estudianteDetalle.telefono}}<br>
        atributos:{{estudianteDetalle.correo}}<br>
        atributos:{{estudianteDetalle.hora}}<br>
        <button type="submit" class="btn btn-primary" (click)="onCerrar()">Cerrar</button>
  </div>
  </div>
