<hr>
<div class="container">
  <button type="button" class="btn btn-outline-primary" [routerLink]="'/admi'" (click)="onCerrarComponentes()" >VER DATOS </button>
  <button type="button" class="btn btn-outline-success" [routerLink]="'/admi/buscar'" >BUSCAR</button>
  <button type="button" class="btn btn-outline-info"   [routerLink]="'/admi/agregar'" >AGREGAR</button>
  <button type="button" class="btn btn-outline-warning"   [routerLink]="'/admi/buscar'" >EDITAR</button>
  <button type="button" class="btn btn-outline-danger" [routerLink]="'/admi/buscar'" >ELIMINAR</button>
</div>
<hr>
