<div class="container">
  <div class="col-lg-10 col-lg-offset-2  mw-100">
    <div class="jumbotron">
      <h1>Bienvenido a {{title}} </h1>
      <p>
        <a class="btn btn-primary btn-lg" role="button" [routerLink]="'/admin-panel'">Administrador</a>
        <a class="btn btn-primary btn-lg" role="button" [routerLink]="'/usuario'">Estudiantes</a>
        <a class="btn btn-primary btn-lg" role="button" [routerLink]="'/contacto'">Contacta con Nosotros</a>
      </p>
    </div>
  </div>
  <div class="text-center">
    <img src="./../../assets/img/ceime.png" class="img-fluid img-thumbnail rounded w-100" alt="CEIME">
  </div>
</div>
<!--h4>jqury</h4>
<button id="botonjq"> mostrar texto</button>
<p id="textjq" class="hidden">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt laboriosam expedita consectetur aliquam hic ipsam facilis itaque voluptatum adipisci necessitatibus! Aliquid, assumenda, aspernatur? Soluta sed nulla, cumque iste, nobis harum.
</p-->
