<div class="container"> <!--*ngIf="appAgregar"-->
  <h2>Agregar Estudiante</h2>
  <div class="container">
    <form novalidate [formGroup]="formulario" (ngSubmit)= "onGuardar()">
      <div class="form-group row ">
        <label class="col-2 col-form-label">Codigo</label>
        <div class="col-10">
          <input class="form-control" type="text" formControlName="codSis" placeholder="201201181" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Nombres</label>
        <div class="col-10">
          <input class="form-control" type="text" formControlName="nombres" placeholder="Mi_Nombre" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Apellidos</label>
        <div class="col-10">
          <input class="form-control" type="text" formControlName="apellidos"placeholder="Mi_Apellido" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-10">
          <input class="form-control" type="email"  formControlName="correo" placeholder="example@example.com" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Telefono</label>
        <div class="col-10">
          <input class="form-control" type="tel" formControlName="telefono" placeholder="7894561" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Fecha y hora</label>
        <div class="col-10">
          <input class="form-control" type="datetime-local" formControlName="hora" >
        </div>
      </div>

      <div class="form-group row">
        <div class="btn-group mr-2" role="group" aria-label="Second group">
          <button type="submit" class="btn btn-success">Agregar</button>
          <!--button type="button" class="btn btn-danger" (click)="onCerrar()">Cerrar</button-->
        </div>
      </div>
    </form>
  </div>
</div>

<!--button type="submit" class="btn btn-primary" (click)="addEstudiante(nombres.value, apellidos.value, telefono.value, correo.value, hora.value)" disabled>Agregar</button-->
