<div class="container" *ngIf="estudianteOriginal">
  <h4>Editar Estudiante</h4>
  <div class="container">
    <form novalidate [formGroup]="formulario" (ngSubmit)= "onGuardar()">
      <div class="form-group row ">
        <label for="idCodigo" class="col-2 col-form-label">Codigo</label>
        <div class="col-10">
          <input class="form-control" type="text" [value]=estudianteOriginal.$key id="idCodigo">
        </div>
      </div>
      <div class="form-group row">
        <label for="idNombre" class="col-2 col-form-label">Nombres</label>
        <div class="col-10">
          <input class="form-control" type="text" [value]=estudianteOriginal.nombres id="idNombre" formControlName="nombres" #nombres>
        </div>
      </div>
      <div class="form-group row">
        <label for="idNombre" class="col-2 col-form-label">Apellidos</label>
        <div class="col-10">
          <input class="form-control" type="text" [value]=estudianteOriginal.apellidos id="idapellidos" formControlName="apellidos" #apellidos>
        </div>
      </div>
      <div class="form-group row">
        <label for="idCorreo" class="col-2 col-form-label">Correo</label>
        <div class="col-10">
          <input class="form-control" type="email" [value]=estudianteOriginal.correo id="idCorreo" formControlName="correo" #correo>
        </div>
      </div>
      <div class="form-group row">
        <label for="idTel" class="col-2 col-form-label">Telefono</label>
        <div class="col-10">
          <input class="form-control" type="tel" [value]=estudianteOriginal.telefono id="idTel" formControlName="telefono" #telefono>
        </div>
      </div>
      <div class="form-group row">
        <label for="idTiempo" class="col-2 col-form-label">Fecha y hora</label>
        <div class="col-10">
          <input class="form-control" type="datetime-local" [value]=estudianteOriginal.hora id="idHora" formControlName="hora" #hora>
        </div>
      </div>

      <div class="form-group row">
        <div class="btn-group mr-2" role="group" aria-label="Second group">
          <button type="submit" class="btn btn-success">Modificar</button>
          <button type="submit" class="btn btn-danger" (click)="onCancelar()">Cancelar</button>
          <!--button type="submit" class="btn btn-primary" (click)="addEstudiante(nombres.value, apellidos.value, telefono.value, correo.value, hora.value)" disabled>Agregar</button-->
          <!--button type="submit" class="btn btn-secondary">Eliminar</button-->
          <!--button type="submit" class="btn" (click)="deleteTodo()" disabled>Eliminar Todo</button-->
        </div>
      </div>
    </form>
  </div>
</div>
