BIENVENIDOS
<!--ORDENAR POR:-->
<hr>
<div class="container">
  <h2>ORDENAR POR: </h2>
  <div class="form-inline my-2 my-lg-0">
    <select class="selectpicker form-control mr-sm-2" #ordenarPor>
      <option value="">CodigoSis</option>
      <option value="nombres">Nombres</option>
      <option value="apellidos">Apellidos</option>
      <option value="telefono">Telefono</option>
      <option value="correo">Correo</option>
      <option value="hora">Hora</option>
    </select>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onOrdenar(ordenarPor.value)">ORDENAR</button>
  </div>
</div>
<hr>
